/* ==== GLOBAL ====  */

HTML {
	font-size: 1px;
	font-family: 'Roboto', arial, sans-serif;
	font-weight: 300;
}

BODY {
	color: #fff;
	background-color: #3B3E41;
	font-size: 23rem;
	margin: 0;
	padding: 0;
}

NAV {
	height: 37rem;
	width: 100%;
	position: relative;
}

NAV H2 {
	width: 100%;
	margin: 0;
}

P {
	margin: 0
}

A {
	color: #fff;
	text-decoration: none;
}

/* ==== END GLOBAL ====  */

NAV .burger {
	width: 41rem;
	height: 100%;
	background-color: #26292D;
	cursor: pointer;
	position: absolute;
	top: 0;
	right: 0;
}

NAV .burger .icon {
	width: 15rem;
	height: 10rem;
	margin: 12rem auto 0;
}

NAV .burger .icon div {
	background-color: #fff;
	height: 2rem;
	width: 100%;
	margin-bottom: 2rem;
}

NAV ul {
	display: none;
}

NAV H2 {
	font-size: 20rem;
}

.head {
	width: 100%;
	height: 175rem;
	background-color: #64B2C6;
}

.head_link {
	width: 100%;
	position: relative;
	display: block;
}

.wrapper {
	overflow: hidden;
	padding: 0 10%; 
}


.psd {
	background-color: #29252F;
	height: 76rem;
	position: relative;
}

.psd_link {}

.psd_link .arrow {
	background-color: #A42F81;
	width: 76rem;
	height: 100%;
	display: block;
}


.i_arrow {
	fill: #fff;
}

.head_link .i_arrow {
	position: absolute;
	right: 0;
	top: 0;
	width: 8rem;
	height: 13rem;
}

.psd_link .i_arrow {
	position: absolute;
	right: 0;
	top: 0;
	width: 8rem;
	height: 13rem;
}